<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

	SetEnv ENVIRONMENT local

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ application/Instance.php [QSA,L]
</IfModule>